In [95]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 10)
data = pd.read_csv('titanic_ch.csv',index_col='PassengerId')

In [96]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,3,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,5,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,5,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,9,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,11,0,0,373450,8.0500,NaN,S

In [97]:
data['Age']

PassengerId
1     3
2     5
3     5
4     9
5    11
Name: Age, dtype: int64

In [98]:
m = np.mean(data['Age'])
m

6.6

In [99]:
print(data['Age'].median())

5.0

In [100]:
std = np.std(data['Age'])
std

2.939387691339814

In [101]:
m_norm = (data['Age'] - m)
m_norm

PassengerId
1   -3.6
2   -1.6
3   -1.6
4    2.4
5    4.4
Name: Age, dtype: float64

In [102]:
z=m_norm.median()
z

-1.5999999999999996

In [108]:
x = data['Sex'].sort_values()
x

PassengerId
2    female
3    female
4    female
1      male
5      male
Name: Sex, dtype: object

In [109]:
data.describe()

       Survived    Pclass        Age     SibSp  Parch       Fare
count  5.000000  5.000000   5.000000  5.000000      5   5.000000
mean   0.600000  2.200000   6.600000  0.600000      0  29.521660
std    0.547723  1.095445   3.286335  0.547723      0  30.510029
min    0.000000  1.000000   3.000000  0.000000      0   7.250000
25%    0.000000  1.000000   5.000000  0.000000      0   7.925000
50%    1.000000  3.000000   5.000000  1.000000      0   8.050000
75%    1.000000  3.000000   9.000000  1.000000      0  53.100000
max    1.000000  3.000000  11.000000  1.000000      0  71.283300