In [4]:
import pandas as pd
import numpy as np
data = pd.read_csv('titanic.csv',index_col='PassengerId')

In [5]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [6]:
all_pass = data['Survived'].count()
survived = data['Survived'].sum()
per_surv = ((survived * 100)/all_pass)
print ("%.1f" % per_surv)

38.4

In [7]:
age_avrg = np.mean(data['Age'])
print("%.2f" % age_avrg)

29.70

In [8]:
sort_age = data['Age'].sort_values()
sort_age

PassengerId
804    0.42
756    0.67
645    0.75
470    0.75
79     0.83
832    0.83
306    0.92
828    1.00
382    1.00
165    1.00
184    1.00
387    1.00
173    1.00
789    1.00
643    2.00
8      2.00
531    2.00
298    2.00
825    2.00
206    2.00
120    2.00
341    2.00
480    2.00
17     2.00
349    3.00
408    3.00
375    3.00
262    3.00
44     3.00
194    3.00
       ...
719     NaN
728     NaN
733     NaN
739     NaN
740     NaN
741     NaN
761     NaN
767     NaN
769     NaN
774     NaN
777     NaN
779     NaN
784     NaN
791     NaN
793     NaN
794     NaN
816     NaN
826     NaN
827     NaN
829     NaN
833     NaN
838     NaN
840     NaN
847     NaN
850     NaN
860     NaN
864     NaN
869     NaN
879     NaN
889     NaN
Name: Age, dtype: float64

In [9]:
age_median = sort_age.median()
age_median

28.0

In [10]:
print(data['Sex'].value_counts())

male      577
female    314
Name: Sex, dtype: int64

In [11]:
sort_pclass = data['Pclass'].value_counts().sort_index()
sort_pclass

1    216
2    184
3    491
Name: Pclass, dtype: int64

In [12]:
mas = np.array(sort_pclass)
mas

array([216, 184, 491], dtype=int64)

In [13]:
f_class = ((216*100)/891)
f_class

24.242424242424242

In [14]:
print(data['SibSp'].corr(data['Parch']))

0.41483769862

In [15]:
sort_sex = data.loc[data['Sex'] == 'female']
sort_sex

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.5500,C103,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16.0000,NaN,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31,1,0,345763,18.0000,NaN,S
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,NaN,Q
25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.0750,NaN,S
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,1,5,347077,31.3875,NaN,S
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
39,0,3,"Vander Planke, Miss. Augusta Maria",female,18,2,0,345764,18.0000,NaN,S
40,1,3,"Nicola-Yarred, Miss. Jamila",female,14,1,0,2651,11.2417,NaN,C
41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40,1,0,7546,9.4750,NaN,S
42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27,1,0,11668,21.0000,NaN,S
44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3,1,2,SC/Paris 2123,41.5792,NaN,C
45,1,3,"Devaney, Miss. Margaret Delia",female,19,0,0,330958,7.8792,NaN,Q
48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18,1,0,349237,17.8000,NaN,S
53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49,1,0,PC 17572,76.7292,D33,C
54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29,1,0,2926,26.0000,NaN,S
57,1,2,"Rugg, Miss. Emily",female,21,0,0,C.A. 31026,10.5000,NaN,S
59,1,2,"West, Miss. Constance Mirium",female,5,1,2,C.A. 34651,27.7500,NaN,S
62,1,1,"Icard, Miss. Amelie",female,38,0,0,113572,80.0000,B28,NaN
...,...,...,...,...,...,...,...,...,...,...,...
808,0,3,"Pettersson, Miss. Ellen Natalia",female,18,0,0,347087,7.7750,NaN,S
810,1,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",female,33,1,0,113806,53.1000,E8,S
814,0,3,"Andersson, Miss. Ebba Iris Alfrida",female,6,4,2,347082,31.2750,NaN,S
817,0,3,"Heininen, Miss. Wendla Maria",female,23,0,0,STON/O2. 3101290,7.9250,NaN,S
821,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52,1,1,12749,93.5000,B69,S
824,1,3,"Moor, Mrs. (Beila)",female,27,0,1,392096,12.4750,E121,S
830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62,0,0,113572,80.0000,B28,NaN
831,1,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15,1,0,2659,14.4542,NaN,C
836,1,1,"Compton, Miss. Sara Rebecca",female,39,1,1,PC 17756,83.1583,E49,C
843,1,1,"Serepeca, Miss. Augusta",female,30,0,0,113798,31.0000,NaN,C
850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
853,0,3,"Boulos, Miss. Nourelain",female,9,1,1,2678,15.2458,NaN,C
854,1,1,"Lines, Miss. Mary Conover",female,16,0,1,PC 17592,39.4000,D28,S
855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44,1,0,244252,26.0000,NaN,S
856,1,3,"Aks, Mrs. Sam (Leah Rosen)",female,18,0,1,392091,9.3500,NaN,S
857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45,1,1,36928,164.8667,NaN,S
859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24,0,3,2666,19.2583,NaN,C
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48,0,0,17466,25.9292,D17,S
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
866,1,2,"Bystrom, Mrs. (Karolina)",female,42,0,0,236852,13.0000,NaN,S
867,1,2,"Duran y More, Miss. Asuncion",female,27,1,0,SC/PARIS 2149,13.8583,NaN,C
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47,1,1,11751,52.5542,D35,S
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28,1,0,P/PP 3381,24.0000,NaN,C
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15,0,0,2667,7.2250,NaN,C
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56,0,1,11767,83.1583,C50,C
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25,0,1,230433,26.0000,NaN,S
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22,0,0,7552,10.5167,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39,0,5,382652,29.1250,NaN,Q
888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [16]:
snames = sort_sex['Name']
snames

PassengerId
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
9      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                   Nasser, Mrs. Nicholas (Adele Achem)
11                       Sandstrom, Miss. Marguerite Rut
12                              Bonnell, Miss. Elizabeth
15                  Vestrom, Miss. Hulda Amanda Adolfina
16                      Hewlett, Mrs. (Mary D Kingcome)
19     Vander Planke, Mrs. Julius (Emelia Maria Vande...
20                               Masselmani, Mrs. Fatima
23                           McGowan, Miss. Anna "Annie"
25                         Palsson, Miss. Torborg Danira
26     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
29                         O'Dwyer, Miss. Ellen "Nellie"
32        Spencer, Mrs. William Augustus (Marie Eugenie)
33                              Glynn, Miss. Mary Agatha
39                    Vander Planke, Miss. Augusta Maria
40                           Nicola-Yarred, Miss. Jamila
41        Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
42     Turpin, Mrs. William John Robert (Dorothy Ann ...
44              Laroche, Miss. Simonne Marie Anne Andree
45                         Devaney, Miss. Margaret Delia
48                             O'Driscoll, Miss. Bridget
50         Arnold-Franchi, Mrs. Josef (Josefine Franchi)
53              Harper, Mrs. Henry Sleeper (Myna Haxtun)
54     Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
57                                     Rugg, Miss. Emily
59                          West, Miss. Constance Mirium
62                                   Icard, Miss. Amelie
                             ...
808                      Pettersson, Miss. Ellen Natalia
810       Chambers, Mrs. Norman Campbell (Bertha Griggs)
814                   Andersson, Miss. Ebba Iris Alfrida
817                         Heininen, Miss. Wendla Maria
821    Hays, Mrs. Charles Melville (Clara Jennings Gr...
824                                   Moor, Mrs. (Beila)
830            Stone, Mrs. George Nelson (Martha Evelyn)
831              Yasbeck, Mrs. Antoni (Selini Alexander)
836                          Compton, Miss. Sara Rebecca
843                              Serepeca, Miss. Augusta
850         Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
853                              Boulos, Miss. Nourelain
854                            Lines, Miss. Mary Conover
855        Carter, Mrs. Ernest Courtenay (Lilian Hughes)
856                           Aks, Mrs. Sam (Leah Rosen)
857           Wick, Mrs. George Dennick (Mary Hitchcock)
859                Baclini, Mrs. Solomon (Latifa Qurban)
863    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
864                    Sage, Miss. Dorothy Edith "Dolly"
866                             Bystrom, Mrs. (Karolina)
867                         Duran y More, Miss. Asuncion
872     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
875                Abelson, Mrs. Samuel (Hannah Wizosky)
876                     Najib, Miss. Adele Kiamie "Jane"
880        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
881         Shelley, Mrs. William (Imanita Parrish Hall)
883                         Dahlberg, Miss. Gerda Ulrika
886                 Rice, Mrs. William (Margaret Norton)
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
Name: Name, dtype: object

In [18]:
s = snames.str.split(' |\\(')
s

PassengerId
2      [Cumings,, Mrs., John, Bradley, , Florence, Br...
3                             [Heikkinen,, Miss., Laina]
4      [Futrelle,, Mrs., Jacques, Heath, , Lily, May,...
9      [Johnson,, Mrs., Oscar, W, , Elisabeth, Vilhel...
10            [Nasser,, Mrs., Nicholas, , Adele, Achem)]
11                  [Sandstrom,, Miss., Marguerite, Rut]
12                          [Bonnell,, Miss., Elizabeth]
15            [Vestrom,, Miss., Hulda, Amanda, Adolfina]
16              [Hewlett,, Mrs., , Mary, D, Kingcome), ]
19     [Vander, Planke,, Mrs., Julius, , Emelia, Mari...
20                           [Masselmani,, Mrs., Fatima]
23                      [McGowan,, Miss., Anna, "Annie"]
25                    [Palsson,, Miss., Torborg, Danira]
26     [Asplund,, Mrs., Carl, Oscar, , Selma, Augusta...
29                    [O'Dwyer,, Miss., Ellen, "Nellie"]
32     [Spencer,, Mrs., William, Augustus, , Marie, E...
33                         [Glynn,, Miss., Mary, Agatha]
39              [Vander, Planke,, Miss., Augusta, Maria]
40                       [Nicola-Yarred,, Miss., Jamila]
41     [Ahlin,, Mrs., Johan, , Johanna, Persdotter, L...
42     [Turpin,, Mrs., William, John, Robert, , Dorot...
44       [Laroche,, Miss., Simonne, Marie, Anne, Andree]
45                    [Devaney,, Miss., Margaret, Delia]
48                         [O'Driscoll,, Miss., Bridget]
50     [Arnold-Franchi,, Mrs., Josef, , Josefine, Fra...
53      [Harper,, Mrs., Henry, Sleeper, , Myna, Haxtun)]
54     [Faunthorpe,, Mrs., Lizzie, , Elizabeth, Anne,...
57                                 [Rugg,, Miss., Emily]
59                     [West,, Miss., Constance, Mirium]
62                               [Icard,, Miss., Amelie]
                             ...
808                 [Pettersson,, Miss., Ellen, Natalia]
810    [Chambers,, Mrs., Norman, Campbell, , Bertha, ...
814             [Andersson,, Miss., Ebba, Iris, Alfrida]
817                    [Heininen,, Miss., Wendla, Maria]
821    [Hays,, Mrs., Charles, Melville, , Clara, Jenn...
824                              [Moor,, Mrs., , Beila)]
830    [Stone,, Mrs., George, Nelson, , Martha, Evelyn)]
831       [Yasbeck,, Mrs., Antoni, , Selini, Alexander)]
836                     [Compton,, Miss., Sara, Rebecca]
843                          [Serepeca,, Miss., Augusta]
850    [Goldenberg,, Mrs., Samuel, L, , Edwiga, Grabo...
853                          [Boulos,, Miss., Nourelain]
854                       [Lines,, Miss., Mary, Conover]
855    [Carter,, Mrs., Ernest, Courtenay, , Lilian, H...
856                    [Aks,, Mrs., Sam, , Leah, Rosen)]
857    [Wick,, Mrs., George, Dennick, , Mary, Hitchco...
859         [Baclini,, Mrs., Solomon, , Latifa, Qurban)]
863    [Swift,, Mrs., Frederick, Joel, , Margaret, We...
864              [Sage,, Miss., Dorothy, Edith, "Dolly"]
866                        [Bystrom,, Mrs., , Karolina)]
867                   [Duran, y, More,, Miss., Asuncion]
872    [Beckwith,, Mrs., Richard, Leonard, , Sallie, ...
875         [Abelson,, Mrs., Samuel, , Hannah, Wizosky)]
876               [Najib,, Miss., Adele, Kiamie, "Jane"]
880    [Potter,, Mrs., Thomas, Jr, , Lily, Alexenia, ...
881    [Shelley,, Mrs., William, , Imanita, Parrish, ...
883                    [Dahlberg,, Miss., Gerda, Ulrika]
886          [Rice,, Mrs., William, , Margaret, Norton)]
888                    [Graham,, Miss., Margaret, Edith]
889       [Johnston,, Miss., Catherine, Helen, "Carrie"]
dtype: object

In [20]:
mas=[]
for item in s:
    for asd in item:
        if(asd==''):
            continue
        mas.append(asd)
print(mas)

['Cumings,', 'Mrs.', 'John', 'Bradley', 'Florence', 'Briggs', 'Thayer)', 'Heikkinen,', 'Miss.', 'Laina', 'Futrelle,', 'Mrs.', 'Jacques', 'Heath', 'Lily', 'May', 'Peel)', 'Johnson,', 'Mrs.', 'Oscar', 'W', 'Elisabeth', 'Vilhelmina', 'Berg)', 'Nasser,', 'Mrs.', 'Nicholas', 'Adele', 'Achem)', 'Sandstrom,', 'Miss.', 'Marguerite', 'Rut', 'Bonnell,', 'Miss.', 'Elizabeth', 'Vestrom,', 'Miss.', 'Hulda', 'Amanda', 'Adolfina', 'Hewlett,', 'Mrs.', 'Mary', 'D', 'Kingcome)', 'Vander', 'Planke,', 'Mrs.', 'Julius', 'Emelia', 'Maria', 'Vandemoortele)', 'Masselmani,', 'Mrs.', 'Fatima', 'McGowan,', 'Miss.', 'Anna', '"Annie"', 'Palsson,', 'Miss.', 'Torborg', 'Danira', 'Asplund,', 'Mrs.', 'Carl', 'Oscar', 'Selma', 'Augusta', 'Emilia', 'Johansson)', "O'Dwyer,", 'Miss.', 'Ellen', '"Nellie"', 'Spencer,', 'Mrs.', 'William', 'Augustus', 'Marie', 'Eugenie)', 'Glynn,', 'Miss.', 'Mary', 'Agatha', 'Vander', 'Planke,', 'Miss.', 'Augusta', 'Maria', 'Nicola-Yarred,', 'Miss.', 'Jamila', 'Ahlin,', 'Mrs.', 'Johan', 'Johanna', 'Persdotter', 'Larsson)', 'Turpin,', 'Mrs.', 'William', 'John', 'Robert', 'Dorothy', 'Ann', 'Wonnacott)', 'Laroche,', 'Miss.', 'Simonne', 'Marie', 'Anne', 'Andree', 'Devaney,', 'Miss.', 'Margaret', 'Delia', "O'Driscoll,", 'Miss.', 'Bridget', 'Arnold-Franchi,', 'Mrs.', 'Josef', 'Josefine', 'Franchi)', 'Harper,', 'Mrs.', 'Henry', 'Sleeper', 'Myna', 'Haxtun)', 'Faunthorpe,', 'Mrs.', 'Lizzie', 'Elizabeth', 'Anne', 'Wilkinson)', 'Rugg,', 'Miss.', 'Emily', 'West,', 'Miss.', 'Constance', 'Mirium', 'Icard,', 'Miss.', 'Amelie', 'Nye,', 'Mrs.', 'Elizabeth', 'Ramell)', 'Andersson,', 'Miss.', 'Erna', 'Alexandra', 'Goodwin,', 'Miss.', 'Lillian', 'Amy', 'Dowdell,', 'Miss.', 'Elizabeth', 'McDermott,', 'Miss.', 'Brigdet', 'Delia', 'Ilett,', 'Miss.', 'Bertha', 'Backstrom,', 'Mrs.', 'Karl', 'Alfred', 'Maria', 'Mathilda', 'Gustafsson)', 'Fortune,', 'Miss.', 'Mabel', 'Helen', 'Doling,', 'Mrs.', 'John', 'T', 'Ada', 'Julia', 'Bone)', 'Petranec,', 'Miss.', 'Matilda', 'Salkjelsvik,', 'Miss.', 'Anna', 'Kristine', 'Moran,', 'Miss.', 'Bertha', 'Zabour,', 'Miss.', 'Hileni', 'Jussila,', 'Miss.', 'Katriina', 'Attalah,', 'Miss.', 'Malake', 'Andersson,', 'Miss.', 'Ellis', 'Anna', 'Maria', 'Webber,', 'Miss.', 'Susan', 'Peter,', 'Miss.', 'Anna', 'Robins,', 'Mrs.', 'Alexander', 'A', 'Grace', 'Charity', 'Laury)', 'Weisz,', 'Mrs.', 'Leopold', 'Mathilde', 'Francoise', 'Pede)', 'Newsom,', 'Miss.', 'Helen', 'Monypeny', 'Boulos,', 'Mrs.', 'Joseph', 'Sultana)', 'Nysten,', 'Miss.', 'Anna', 'Sofia', 'Hakkarainen,', 'Mrs.', 'Pekka', 'Pietari', 'Elin', 'Matilda', 'Dolck)', 'Ford,', 'Miss.', 'Robina', 'Maggie', '"Ruby"', 'Pears,', 'Mrs.', 'Thomas', 'Edith', 'Wearne)', 'Gilnagh,', 'Miss.', 'Katherine', '"Katie"', 'Watt,', 'Mrs.', 'James', 'Elizabeth', '"Bessie"', 'Inglis', 'Milne)', 'Chibnall,', 'Mrs.', 'Edith', 'Martha', 'Bowerman)', 'Skoog,', 'Mrs.', 'William', 'Anna', 'Bernhardina', 'Karlsson)', 'Johnson,', 'Miss.', 'Eleanor', 'Ileen', 'Isham,', 'Miss.', 'Ann', 'Elizabeth', 'Sage,', 'Miss.', 'Constance', 'Gladys', 'Kink-Heilmann,', 'Miss.', 'Luise', 'Gretchen', "O'Brien,", 'Mrs.', 'Thomas', 'Johanna', '"Hannah"', 'Godfrey)', 'Pinsky,', 'Mrs.', 'Rosa)', 'Andersen-Jensen,', 'Miss.', 'Carla', 'Christine', 'Nielsine', 'Brown,', 'Mrs.', 'James', 'Joseph', 'Margaret', 'Tobin)', 'Lurette,', 'Miss.', 'Elise', 'Madigan,', 'Miss.', 'Margaret', '"Maggie"', 'Yrois,', 'Miss.', 'Henriette', '"Mrs', 'Harbeck")', 'Strom,', 'Miss.', 'Telma', 'Matilda', 'Carr,', 'Miss.', 'Helen', '"Ellen"', 'Cameron,', 'Miss.', 'Clear', 'Annie', 'Newell,', 'Miss.', 'Madeleine', 'Honkanen,', 'Miss.', 'Eliina', 'Bazzani,', 'Miss.', 'Albina', 'Lefebre,', 'Miss.', 'Mathilde', 'Harris,', 'Mrs.', 'Henry', 'Birkhardt', 'Irene', 'Wallach)', 'Asplund,', 'Miss.', 'Lillian', 'Gertrud', 'Harknett,', 'Miss.', 'Alice', 'Phoebe', 'Collyer,', 'Miss.', 'Marjorie', '"Lottie"', 'Zabour,', 'Miss.', 'Thamine', 'Murphy,', 'Miss.', 'Katherine', '"Kate"', 'Lindahl,', 'Miss.', 'Agda', 'Thorilda', 'Viktoria', 'Hamalainen,', 'Mrs.', 'William', 'Anna)', 'Strom,', 'Mrs.', 'Wilhelm', 'Elna', 'Matilda', 'Persson)', 'Rosblom,', 'Mrs.', 'Viktor', 'Helena', 'Wilhelmina)', 'Touma,', 'Mrs.', 'Darwis', 'Hanne', 'Youssef', 'Razi)', 'Thorne,', 'Mrs.', 'Gertrude', 'Maybelle', 'Cherry,', 'Miss.', 'Gladys', 'Ward,', 'Miss.', 'Anna', 'Parrish,', 'Mrs.', 'Lutie', 'Davis)', 'Henry,', 'Miss.', 'Delia', 'Graham,', 'Mrs.', 'William', 'Thompson', 'Edith', 'Junkins)', 'Bissette,', 'Miss.', 'Amelia', 'Mellinger,', 'Mrs.', 'Elizabeth', 'Anne', 'Maidment)', 'Healy,', 'Miss.', 'Hanora', '"Nora"', 'Andrews,', 'Miss.', 'Kornelia', 'Theodosia', 'Lindblom,', 'Miss.', 'Augusta', 'Charlotta', 'Abbott,', 'Mrs.', 'Stanton', 'Rosa', 'Hunt)', 'Connolly,', 'Miss.', 'Kate', 'Barber,', 'Miss.', 'Ellen', '"Nellie"', 'Bishop,', 'Mrs.', 'Dickinson', 'H', 'Helen', 'Walton)', 'Haas,', 'Miss.', 'Aloisia', 'Allison,', 'Miss.', 'Helen', 'Loraine', 'Baxter,', 'Mrs.', 'James', 'Helene', 'DeLaudeniere', 'Chaput)', 'Kelly,', 'Miss.', 'Anna', 'Katherine', '"Annie', 'Kate"', 'Keane,', 'Miss.', 'Nora', 'A', 'Fleming,', 'Miss.', 'Margaret', 'Penasco', 'y', 'Castellana,', 'Mrs.', 'Victor', 'de', 'Satode', 'Maria', 'Josefa', 'Perez', 'de', 'Soto', 'y', 'Vallejo)', 'Francatelli,', 'Miss.', 'Laura', 'Mabel', 'Hays,', 'Miss.', 'Margaret', 'Bechstein', 'Ryerson,', 'Miss.', 'Emily', 'Borie', 'Lahtinen,', 'Mrs.', 'William', 'Anna', 'Sylfven)', 'Nilsson,', 'Miss.', 'Helmina', 'Josefina', 'Kantor,', 'Mrs.', 'Sinai', 'Miriam', 'Sternin)', 'Wick,', 'Miss.', 'Mary', 'Natalie', 'Spedden,', 'Mrs.', 'Frederic', 'Oakley', 'Margaretta', 'Corning', 'Stone)', 'Slayter,', 'Miss.', 'Hilda', 'Mary', 'Caldwell,', 'Mrs.', 'Albert', 'Francis', 'Sylvia', 'Mae', 'Harbaugh)', 'Young,', 'Miss.', 'Marie', 'Grice', 'Ball,', 'Mrs.', 'Ada', 'E', 'Hall)', 'Goldsmith,', 'Mrs.', 'Frank', 'John', 'Emily', 'Alice', 'Brown)', 'Hippach,', 'Miss.', 'Jean', 'Gertrude', 'McCoy,', 'Miss.', 'Agnes', 'Frauenthal,', 'Mrs.', 'Henry', 'William', 'Clara', 'Heinsheimer)', 'Burns,', 'Miss.', 'Elizabeth', 'Margaret', 'Fortune,', 'Miss.', 'Alice', 'Elizabeth', 'Brown,', 'Miss.', 'Amelia', '"Mildred"', 'Smith,', 'Miss.', 'Marion', 'Elsie', 'Davison,', 'Mrs.', 'Thomas', 'Henry', 'Mary', 'E', 'Finck)', 'Bowerman,', 'Miss.', 'Elsie', 'Edith', 'Funk,', 'Miss.', 'Annie', 'Clemmer', 'McGovern,', 'Miss.', 'Mary', 'Mockler,', 'Miss.', 'Helen', 'Mary', '"Ellie"', 'Barbara,', 'Mrs.', 'Catherine', 'David)', 'Warren,', 'Mrs.', 'Frank', 'Manley', 'Anna', 'Sophia', 'Atkinson)', 'Moussa,', 'Mrs.', 'Mantoura', 'Boulos)', 'Jermyn,', 'Miss.', 'Annie', 'Aubart,', 'Mme.', 'Leontine', 'Pauline', 'Palsson,', 'Miss.', 'Stina', 'Viola', 'Meyer,', 'Mrs.', 'Edgar', 'Joseph', 'Leila', 'Saks)', 'Landergren,', 'Miss.', 'Aurora', 'Adelia', 'Bidois,', 'Miss.', 'Rosalie', 'Nakid,', 'Miss.', 'Maria', '"Mary")', 'Holverson,', 'Mrs.', 'Alexander', 'Oskar', 'Mary', 'Aline', 'Towner)', 'Buss,', 'Miss.', 'Kate', 'Lehmann,', 'Miss.', 'Bertha', 'Newell,', 'Miss.', 'Marjorie', 'Sandstrom,', 'Mrs.', 'Hjalmar', 'Agnes', 'Charlotta', 'Bengtsson)', 'Olsson,', 'Miss.', 'Elina', 'Trout,', 'Mrs.', 'William', 'H', 'Jessie', 'L)', 'Jussila,', 'Miss.', 'Mari', 'Aina', 'Oreskovic,', 'Miss.', 'Marija', 'Lefebre,', 'Miss.', 'Ida', 'Minahan,', 'Miss.', 'Daisy', 'E', 'Meek,', 'Mrs.', 'Thomas', 'Annie', 'Louise', 'Rowley)', 'Drew,', 'Mrs.', 'James', 'Vivian', 'Lulu', 'Thorne', 'Christian)', 'Silven,', 'Miss.', 'Lyyli', 'Karoliina', 'Van', 'Impe,', 'Miss.', 'Catharina', 'Danbom,', 'Mrs.', 'Ernst', 'Gilbert', 'Anna', 'Sigrid', 'Maria', 'Brogren)', 'Clarke,', 'Mrs.', 'Charles', 'V', 'Ada', 'Maria', 'Winfield)', 'Phillips,', 'Miss.', 'Kate', 'Florence', '"Mrs', 'Kate', 'Louise', 'Phillips', 'Marshall")', 'Thorneycroft,', 'Mrs.', 'Percival', 'Florence', 'Kate', 'White)', 'Louch,', 'Mrs.', 'Charles', 'Alexander', 'Alice', 'Adelaide', 'Slow)', 'Carter,', 'Miss.', 'Lucile', 'Polk', 'Ford,', 'Miss.', 'Doolina', 'Margaret', '"Daisy"', 'Richards,', 'Mrs.', 'Sidney', 'Emily', 'Hocking)', 'Hart,', 'Mrs.', 'Benjamin', 'Esther', 'Ada', 'Bloomfield)', 'Reynaldo,', 'Ms.', 'Encarnacion', 'Mellinger,', 'Miss.', 'Madeleine', 'Violet', 'Baclini,', 'Miss.', 'Marie', 'Catherine', 'Kenyon,', 'Mrs.', 'Frederick', 'R', 'Marion)', 'Toomey,', 'Miss.', 'Ellen', 'Baclini,', 'Miss.', 'Helene', 'Barbara', 'West,', 'Mrs.', 'Edwy', 'Arthur', 'Ada', 'Mary', 'Worth)', 'Jerwan,', 'Mrs.', 'Amin', 'S', 'Marie', 'Marthe', 'Thuillard)', 'Strandberg,', 'Miss.', 'Ida', 'Sofia', 'Hirvonen,', 'Miss.', 'Hildur', 'E', 'Turkula,', 'Mrs.', 'Hedwig)', 'Lefebre,', 'Miss.', 'Jeannie', 'Hoyt,', 'Mrs.', 'Frederick', 'Maxfield', 'Jane', 'Anne', 'Forby)', 'Eustis,', 'Miss.', 'Elizabeth', 'Mussey', 'Allison,', 'Mrs.', 'Hudson', 'J', 'C', 'Bessie', 'Waldo', 'Daniels)', 'Canavan,', 'Miss.', 'Mary', "O'Sullivan,", 'Miss.', 'Bridget', 'Mary', 'Laitinen,', 'Miss.', 'Kristina', 'Sofia', 'Maioni,', 'Miss.', 'Roberta', 'Quick,', 'Mrs.', 'Frederick', 'Charles', 'Jane', 'Richards)', 'Rothschild,', 'Mrs.', 'Martin', 'Elizabeth', 'L.', 'Barrett)', 'Lemore,', 'Mrs.', 'Amelia', 'Milley)', 'Angle,', 'Mrs.', 'William', 'A', 'Florence', '"Mary"', 'Agnes', 'Hughes)', 'Perreault,', 'Miss.', 'Anne', 'Hippach,', 'Mrs.', 'Louis', 'Albert', 'Ida', 'Sophia', 'Fischer)', 'Ridsdale,', 'Miss.', 'Lucy', 'Quick,', 'Miss.', 'Phyllis', 'May', 'Peter,', 'Mrs.', 'Catherine', 'Catherine', 'Rizk)', 'Cacic,', 'Miss.', 'Marija', 'Hart,', 'Miss.', 'Eva', 'Miriam', 'LeRoy,', 'Miss.', 'Bertha', 'Frolicher,', 'Miss.', 'Hedwig', 'Margaritha', 'Crosby,', 'Miss.', 'Harriet', 'R', 'Andersson,', 'Miss.', 'Ingeborg', 'Constanzia', 'Andersson,', 'Miss.', 'Sigrid', 'Elisabeth', 'Beane,', 'Mrs.', 'Edward', 'Ethel', 'Clarke)', 'Ohman,', 'Miss.', 'Velin', 'Duff', 'Gordon,', 'Lady.', 'Lucille', 'Christiana', 'Sutherland)', '"Mrs', 'Morgan")', 'Taussig,', 'Mrs.', 'Emil', 'Tillie', 'Mandelbaum)', 'de', 'Messemaeker,', 'Mrs.', 'Guillaume', 'Joseph', 'Emma)', 'Meanwell,', 'Miss.', 'Marion', 'Ogden)', 'Palsson,', 'Mrs.', 'Nils', 'Alma', 'Cornelia', 'Berglund)', 'Appleton,', 'Mrs.', 'Edward', 'Dale', 'Charlotte', 'Lamson)', 'Kelly,', 'Miss.', 'Mary', 'Garside,', 'Miss.', 'Ethel', 'Silvey,', 'Mrs.', 'William', 'Baird', 'Alice', 'Munger)', 'Caram,', 'Mrs.', 'Joseph', 'Maria', 'Elias)', 'Christy,', 'Miss.', 'Julie', 'Rachel', 'Thayer,', 'Mrs.', 'John', 'Borland', 'Marian', 'Longstreth', 'Morris)', 'Taussig,', 'Miss.', 'Ruth', 'Stephenson,', 'Mrs.', 'Walter', 'Bertram', 'Martha', 'Eustis)', 'Bourke,', 'Miss.', 'Mary', 'Leitch,', 'Miss.', 'Jessie', 'Wills', 'Jacobsohn,', 'Mrs.', 'Sidney', 'Samuel', 'Amy', 'Frances', 'Christy)', 'Laroche,', 'Mrs.', 'Joseph', 'Juliette', 'Marie', 'Louise', 'Lafargue)', 'Shutes,', 'Miss.', 'Elizabeth', 'W', 'Andersson,', 'Mrs.', 'Anders', 'Johan', 'Alfrida', 'Konstantia', 'Brogren)', 'Murphy,', 'Miss.', 'Margaret', 'Jane', 'Herman,', 'Miss.', 'Alice', 'Lobb,', 'Mrs.', 'William', 'Arthur', 'Cordelia', 'K', 'Stanlick)', 'Becker,', 'Miss.', 'Marion', 'Louise', 'Longley,', 'Miss.', 'Gretchen', 'Fiske', 'Skoog,', 'Miss.', 'Mabel', 'Davis,', 'Miss.', 'Mary', 'Panula,', 'Mrs.', 'Juha', 'Maria', 'Emilia', 'Ojala)', 'Sagesser,', 'Mlle.', 'Emma', 'Skoog,', 'Miss.', 'Margit', 'Elizabeth', 'Baclini,', 'Miss.', 'Eugenie', 'Stanley,', 'Miss.', 'Amy', 'Zillah', 'Elsie', 'Doling,', 'Miss.', 'Elsie', "O'Leary,", 'Miss.', 'Hanora', '"Norah"', 'Hegarty,', 'Miss.', 'Hanora', '"Nora"', 'Bourke,', 'Mrs.', 'John', 'Catherine)', 'Taylor,', 'Mrs.', 'Elmer', 'Zebley', 'Juliet', 'Cummins', 'Wright)', 'Brown,', 'Mrs.', 'Thomas', 'William', 'Solomon', 'Elizabeth', 'Catherine', 'Ford)', 'Turja,', 'Miss.', 'Anna', 'Sofia', 'Goodwin,', 'Mrs.', 'Frederick', 'Augusta', 'Tyler)', 'Peters,', 'Miss.', 'Katie', 'Madill,', 'Miss.', 'Georgette', 'Alexandra', 'Karun,', 'Miss.', 'Manca', 'Mullens,', 'Miss.', 'Katherine', '"Katie"', 'Astor,', 'Mrs.', 'John', 'Jacob', 'Madeleine', 'Talmadge', 'Force)', 'Barbara,', 'Miss.', 'Saiide', 'Kelly,', 'Mrs.', 'Florence', '"Fannie"', 'Cleaver,', 'Miss.', 'Alice', 'Mayne,', 'Mlle.', 'Berthe', 'Antonine', '"Mrs', 'de', 'Villiers")', 'Endres,', 'Miss.', 'Caroline', 'Louise', 'Troutt,', 'Miss.', 'Edwina', 'Celia', '"Winnie"', 'Harper,', 'Miss.', 'Annie', 'Jessie', '"Nina"', 'Renouf,', 'Mrs.', 'Peter', 'Henry', 'Lillian', 'Jefferys)', 'Mannion,', 'Miss.', 'Margareth', 'Ilmakangas,', 'Miss.', 'Pieta', 'Sofia', 'Allen,', 'Miss.', 'Elisabeth', 'Walton', 'Ford,', 'Mrs.', 'Edward', 'Margaret', 'Ann', 'Watson)', 'Ryerson,', 'Miss.', 'Susan', 'Parker', '"Suzette"', 'Sinkkonen,', 'Miss.', 'Anna', 'Wells,', 'Miss.', 'Joan', 'Herman,', 'Mrs.', 'Samuel', 'Jane', 'Laver)', 'Rothes,', 'the', 'Countess.', 'of', 'Lucy', 'Noel', 'Martha', 'Dyer-Edwards)', 'Carter,', 'Mrs.', 'William', 'Ernest', 'Lucile', 'Polk)', 'Hogeboom,', 'Mrs.', 'John', 'C', 'Anna', 'Andrews)', 'Mangan,', 'Miss.', 'Mary', 'Mack,', 'Mrs.', 'Mary)', 'Hocking,', 'Mrs.', 'Elizabeth', 'Eliza', 'Needs)', 'Emanuel,', 'Miss.', 'Virginia', 'Ethel', 'Robert,', 'Mrs.', 'Edward', 'Scott', 'Elisabeth', 'Walton', 'McMillan)', 'Ayoub,', 'Miss.', 'Banoura', 'Dick,', 'Mrs.', 'Albert', 'Adrian', 'Vera', 'Gillespie)', 'Sjoblom,', 'Miss.', 'Anna', 'Sofia', 'Sage,', 'Miss.', 'Stella', 'Anna', 'Leader,', 'Dr.', 'Alice', 'Farnham)', 'Osman,', 'Mrs.', 'Mara', 'Van', 'Impe,', 'Mrs.', 'Jean', 'Baptiste', 'Rosalie', 'Paula', 'Govaert)', 'Collyer,', 'Mrs.', 'Harvey', 'Charlotte', 'Annie', 'Tate)', 'Pettersson,', 'Miss.', 'Ellen', 'Natalia', 'Chambers,', 'Mrs.', 'Norman', 'Campbell', 'Bertha', 'Griggs)', 'Andersson,', 'Miss.', 'Ebba', 'Iris', 'Alfrida', 'Heininen,', 'Miss.', 'Wendla', 'Maria', 'Hays,', 'Mrs.', 'Charles', 'Melville', 'Clara', 'Jennings', 'Gregg)', 'Moor,', 'Mrs.', 'Beila)', 'Stone,', 'Mrs.', 'George', 'Nelson', 'Martha', 'Evelyn)', 'Yasbeck,', 'Mrs.', 'Antoni', 'Selini', 'Alexander)', 'Compton,', 'Miss.', 'Sara', 'Rebecca', 'Serepeca,', 'Miss.', 'Augusta', 'Goldenberg,', 'Mrs.', 'Samuel', 'L', 'Edwiga', 'Grabowska)', 'Boulos,', 'Miss.', 'Nourelain', 'Lines,', 'Miss.', 'Mary', 'Conover', 'Carter,', 'Mrs.', 'Ernest', 'Courtenay', 'Lilian', 'Hughes)', 'Aks,', 'Mrs.', 'Sam', 'Leah', 'Rosen)', 'Wick,', 'Mrs.', 'George', 'Dennick', 'Mary', 'Hitchcock)', 'Baclini,', 'Mrs.', 'Solomon', 'Latifa', 'Qurban)', 'Swift,', 'Mrs.', 'Frederick', 'Joel', 'Margaret', 'Welles', 'Barron)', 'Sage,', 'Miss.', 'Dorothy', 'Edith', '"Dolly"', 'Bystrom,', 'Mrs.', 'Karolina)', 'Duran', 'y', 'More,', 'Miss.', 'Asuncion', 'Beckwith,', 'Mrs.', 'Richard', 'Leonard', 'Sallie', 'Monypeny)', 'Abelson,', 'Mrs.', 'Samuel', 'Hannah', 'Wizosky)', 'Najib,', 'Miss.', 'Adele', 'Kiamie', '"Jane"', 'Potter,', 'Mrs.', 'Thomas', 'Jr', 'Lily', 'Alexenia', 'Wilson)', 'Shelley,', 'Mrs.', 'William', 'Imanita', 'Parrish', 'Hall)', 'Dahlberg,', 'Miss.', 'Gerda', 'Ulrika', 'Rice,', 'Mrs.', 'William', 'Margaret', 'Norton)', 'Graham,', 'Miss.', 'Margaret', 'Edith', 'Johnston,', 'Miss.', 'Catherine', 'Helen', '"Carrie"']

In [22]:
con = pd.Series(mas)
con.value_counts()

Miss.         182
Mrs.          125
Mary           17
Anna           16
William        15
Elizabeth      15
Margaret       12
Maria          11
Alice           8
John            8
Helen           7
Andersson,      6
Thomas          6
Edith           6
Annie           6
Marie           6
Joseph          6
Sofia           6
Catherine       6
Kate            5
Anne            5
Florence        5
Louise          5
Frederick       5
Henry           5
Augusta         5
Bertha          5
Ada             5
de              4
E               4
             ...
Oskar           1
Ward,           1
Wallach)        1
McGovern,       1
Ulrika          1
Rowley)         1
Isham,          1
Angle,          1
Pears,          1
Velin           1
Robins,         1
Ingeborg        1
Waldo           1
Roberta         1
Trout,          1
Simonne         1
Ridsdale,       1
O'Dwyer,        1
Stanlick)       1
Alexenia        1
Hogeboom,       1
Aline           1
Mockler,        1
Thompson        1
Turpin,         1
Ball,           1
Spencer,        1
Carr,           1
Nysten,         1
Virginia        1
dtype: int64